html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
.show-scroll *::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.show-scroll-hidden *::-webkit-scrollbar {
display: none;
}

/* Track */
.show-scroll *::-webkit-scrollbar-track {
background: #373a3b;
}

/* Handle */
.show-scroll *::-webkit-scrollbar-thumb {
background: hsl(0, 0%, 55%); 
border-radius: 3px;
}

/* Handle on hover */
.show-scroll *::-webkit-scrollbar-thumb:hover {
background: grey; 
}

th:not(.ignore-over){
  position: sticky;
  position: -webkit-sticky;
  top: -2px;
  z-index: 1;
}
th{
  background-color: rgb(219, 223, 223);
}
.over-sticky{
  position: relative;
  z-index: 2;
}
